<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Drone Strikes</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <!-- <script type="text/javascript" src="/js/monokai_chart.js"></script> -->
    <!-- <script type="text/javascript" src="/js/flatdark.js"> -->
    <script type="text/javascript" src="/js/dotabuff.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
  </head>
  <body>
    <nav class="navbar navbar-inverse">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#user-menu">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Drone Strikes</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="user-menu">
          <ul class="nav navbar-nav">
            <li><a href="/strikes/listAsc">Strikes</a></li>
            {{#if currentUser}}
              <li><a href="/users/{{currentUser.id}}">{{currentUser.username}}</a></li>
              <li><a href="/users/logout">Logout</a></li>
            {{else}}
              <li><a href="/users/login">Login</a></li>
              <li><a href="/signup">Signup</a></li>
            {{/if}}
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <!-- <main class="container"> -->
      {{{body}}}
    <!-- </main> -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-6 footerleft ">
            <div class="logofooter"> About</div>
            <p>Data for this site was taken from the public API by the good folks at <a href="http://dronestre.am/">Dronestre.am</a></p>
            <p><i class="fa fa-phone"></i><a href="https://github.com/fhappy">Github</a></p>
            <p><i class="fa fa-envelope"></i> E-mail : Hassan.Masroor@me.com</p>

          </div>
          <div class="col-md-4 col-sm-6 paddingtop-bottom">
            <h6 class="heading7">GENERAL LINKS</h6>
            <ul class="footer-ul">
              <li><a href="#"> Case Studies</a></li>
              <li><a href="#"> Frequently Ask Questions</a></li>
            </ul>
          </div>
          <div class="col-md-4 col-sm-6 paddingtop-bottom">
            <h6 class="heading7">LATEST POST</h6>
            <div class="post">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vulputate urna vel velit malesuada, ut lacinia urna faucibus. Donec sit amet mattis risus, vitae auctor nibh. Nulla mollis viverra nisi, quis feugiat tortor ultricies id. Aliquam erat volutpat. Nam iaculis nulla sit amet massa mollis, at tempor mauris congue. Nullam nec ex ac mauris auctor dapibus. Phasellus in luctus quam. Fusce eget massa id lacus luctus laoreet. Donec faucibus varius efficitur.

</p>
          </div>
    </footer>
    <!--footer start from here-->

    <div class="copyright">
      <div class="container">
        <div class="col-md-6">
          <p></p>
        </div>
        <div class="col-md-6">
          <ul class="bottom_ul">
            <li><a href="#">Dronstre.am</a></li>
            <li><a href="#">About us</a></li>
            <li><a href="#">Faq's</a></li>
          </ul>
        </div>
      </div>
    </div>
  </body>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/js/main.js"></script>
</html>
